@font-face {
	font-family: "Milliard";
	src: url("../fonts/Rene\ Bieder\ \ Milliard\ ExtraLight.woff");
}

@font-face {
	font-family: "MilliardBold";
	src: url("../fonts/Rene\ Bieder\ \ Milliard\ Medium.woff");
}

@font-face {
	font-family: "MilliardExtraBold";
	src: url("../fonts/Rene\ Bieder\ \ Milliard\ ExtraBold.woff");
}

:root {
	--shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.2);
	--background-blue: #105893;
	--about-blue: #082c49;
	--portfolio-blue: #1b3b5b;
	--white: #ffffff;
}

html {
	background-color: var(--background-blue);
	font-family: "Milliard";
	color: var(--white);
}

body {
	margin: 3em 3em 0;
}

/* FOLDER PORTFOLIO */

.folder {
	display: flex;
	gap: 2em;

	min-height: 80vh;
	padding: 0em 2em 0em 4em;

	box-shadow: var(--shadow);

	font-size: 1.25rem;
}

#folder--about {
	background-color: var(--about-blue);
}

#folder--portfolio {
	background-color: var(--portfolio-blue);
	display: none;
	padding: 0em 2em 0em 2em;
	flex: 0 0 auto;
}

.tab {
	display: inline-block;

	margin-right: 0.5em;
	padding: 0.4em 0 0.2em;
	width: 150px;

	font-family: "MilliardBold";
	font-size: 1.5rem;
	text-align: center;
}

#tab--about {
	background-color: var(--about-blue);
}

#tab--portfolio {
	background-color: var(--portfolio-blue);
}

.name {
	font-family: MilliardBold;
	font-size: 3rem;
}

.highlight {
	font-family: "MilliardBold";
	font-size: 1.5rem;
	padding: 4px;
}

a {
	text-decoration: none;
	font-family: "MilliardBold";
	font-size: 1.5rem;
	padding: 4px;
}

a:visited {
	color: var(--white);
}

.description {
	display: inline-block;
	padding: 0em 2em;
	align-self: center;
}

.contact {
	display: flex;
}

.contact__icon {
	height: 50px;
	width: 50px;
	margin: 3em 1em 0 0;
}

.photo {
	height: 400px;
	width: 400px;
	border-radius: 500px;
	border: 3px solid whitesmoke;
	box-shadow: var(--shadow);
	align-self: center;
}

.photo--mobile {
	display: none;
}

.skills {
	align-self: center;
}

.header--list {
	font-family: "MilliardBold";
	font-size: 2rem;
}

.webdev {
	width: 500px;
}

.project {
	opacity: 0;
	transition: 1s;
	background-color: rgb(8, 2, 38);
	box-shadow: var(--shadow);
	width: 100%;
	margin: 2em 0 2em 2em;
	border-radius: 15px;
	overflow: hidden;
}

.project__image {
	width: 100%;
	height: 12em;
	object-fit: contain;
	background-color: black;
}

.project__description {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 2em;
}

.project__header {
	font-family: "MilliardBold";
}

.project__link--git {
	height: 48px;
	width: 48px;
}

.project__link--deploy {
	font-size: 1.3rem;
	text-decoration: underline;
}

/* Portfolio */

.portfolio__links {
	margin-top: 2em;
	list-style-type: square;
}

.portfolio__link {
	display: flex;
	background: none;
	border: none;

	margin: 0.3em 0em 0em 0em;

	font-size: 1.5rem;
	font-family: "MilliardBold";
	color: var(--white);
}

.portfolio__link img {
	height: 36px;
	width: 36px;
}

.portfolio__text {
	margin-left: 0.5em;
	width: 250px;
}

@media (max-width: 1280px) {
	body {
		margin: 1em 1em 0;
	}

	.tab {
		width: 100px;
		font-size: 1rem;
	}

	.folder {
		flex-direction: column;
		padding: 1em 1em 0;
		margin-bottom: 1em;
		gap: 1em;
	}

	#folder--portfolio {
		padding: 1em;
	}

	.description {
		font-size: 1rem;
		padding: 0;
	}

	.highlight {
		font-size: 1.3rem;
	}

	.name {
		font-size: 2rem;
	}

	.contact__icon {
		margin: 2em 1em 0 0;
	}

	.photo {
		order: -1;
		height: 200px;
		width: 200px;
	}

	.skills {
		padding-top: 1em;
		font-size: 1.2rem;
	}

	.header--list {
		font-size: 1.5rem;
	}

	/* PORTFOLIO  */

	.portfolio__link {
		font-size: 1.2rem;
	}

	.project {
		margin: 0em;
	}

	.project__header {
		font-size: 1.5rem;
	}

	.project__text {
		font-size: 1rem;
	}
}
