@font-face {
	font-family: "Vercetti";
	src: url("../fonts/Vercetti-Regular.woff");
}

@font-face {
	font-family: "Vercetti";
	src: url("../fonts/Vercetti-Regular.woff2");
}

:root {
	--shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.2);
	--background-color: #856fd3;
	--primary-color: #3e75c3;
	--secondary-color: #ffa83b;
	--tertiary-color: #f4f1e6;
}

html {
	background-color: var(--background-color);
	font-family: "Vercetti";
	color: var(--tertiary-color);
}

body {
	margin: 3em 3em 0;
}

.name {
	font-family: Vercetti;
	font-size: 3rem;
}

.highlight {
	font-family: "Vercetti";
	font-size: 1.5rem;
	padding: 4px;
}

/* a {
	color: inherit;
	text-decoration: none;
	font-family: "Vercetti";
	font-size: 1.5rem;
	padding: 4px;
}

a:visited {
	color: inherit;
} */

.description {
	display: inline-block;
	padding: 0em 2em;
	align-self: center;
}

.contact {
	display: flex;
}

.contact__icon {
	height: 48px;
	width: 48px;
	margin: 3em 1em 0 0;
}

.photo {
	height: 400px;
	width: 400px;
	border-radius: 500px;
	border: 5px solid var(--tertiary-color);
	box-shadow: var(--shadow);
	align-self: center;
}

.photo--mobile {
	display: none;
}

.skills {
	align-self: center;
}

.header--list {
	font-family: "Vercetti";
	font-size: 2rem;
}

/* PROJECT CARD */

.project {
	--image-height: 12em;
	--animation-length: 1.5s;

	position: relative;
	background-color: var(--tertiary-color);
	box-shadow: var(--shadow);
	border: 3px solid var(--secondary-color);
	border-radius: 15px;
	overflow: hidden;
	color: black;
	max-width: 30em;
}

.project__figure {
	position: relative;
	width: 100%;
	height: var(--image-height);
	background-color: black;
}

.project__image {
	width: inherit;
	height: inherit;
	object-fit: contain;
}

.project__figure::before {
	position: absolute;
	content: '';
	height: 50em;
	background-color: var(--tertiary-color);
	width: 100%;
	bottom: var(--image-height);
}

.project__content {
	min-height: 20em;
	display: grid;
	gap: 1em;
	grid-template-rows: auto 1fr auto;
	padding: 1em;
}

.project__title {
	font-family: "Vercetti";
	font-weight: bold;
}

.project__description {
	margin-left: 1em;
}

.project__links {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.project__link--git {
	height: 48px;
	width: 48px;
}

.project__link--deploy {
	font-weight: bold;
	font-size: 1.3rem;
	text-decoration: underline;
	color: var(--primary-color);
}

.project__navs {
	display: flex;
	justify-content: center;
	gap: 1em;
	padding: 1em;
}

.project__nav {
	background: var(--secondary-color);
	border-radius: 3px;
	border: none; 
	font-size: 1.5rem;
	color: var(--tertiary-color);
	padding: 0 0.5em;
	box-shadow: var(--shadow);
}

/* Portfolio */

.portfolio__links {
	margin-top: 2em;
	list-style-type: square;
}

.portfolio__link {
	display: flex;
	background: none;
	border: none;

	margin: 0.3em 0em 0em 0em;

	font-size: 1.5rem;
	font-family: "Vercetti";
	color: var(--tertiary-color);
}

.portfolio__link:hover {
	cursor: pointer;
}

.portfolio__text {
	margin-left: 0.5em;
	width: 250px;
}

@media (max-width: 1280px) {
	body {
		margin: 1em 1em 0;
	}

	.tab {
		width: 100px;
		font-size: 1rem;
	}

	.folder {
		flex-direction: column;
		padding: 1em 1em 0;
		margin-bottom: 1em;
		gap: 1em;
	}

	#folder--portfolio {
		padding: 1em;
	}

	.description {
		font-size: 1rem;
		padding: 0;
	}

	.highlight {
		font-size: 1.3rem;
	}

	.name {
		font-size: 2rem;
	}

	.contact__icon {
		margin: 2em 1em 0 0;
	}

	.photo {
		order: -1;
		height: 200px;
		width: 200px;
	}

	.skills {
		padding-top: 1em;
		font-size: 1.2rem;
	}

	.header--list {
		font-size: 1.5rem;
	}

	/* PORTFOLIO  */

	.portfolio__link {
		font-size: 1.2rem;
	}

	.project {
		margin: 0em;
	}

	.project__title {
		font-size: 1.5rem;
	}

	.project__description {
		font-size: 1rem;
	}
}

.html {
	color: rgb(244, 60, 60);
	font-weight: bold;
}

.css {
	color: rgb(230, 150, 164);
	font-weight: bold;
}

.js {
	color: rgb(253, 173, 24);
	font-weight: bold;
}

.react {
	color: rgb(81, 210, 216);
	font-weight: bold;
}

.django {
	color: rgb(59, 163, 24);
	font-weight: bold;
}

.unity {
	color: rgb(140, 24, 163);
	font-weight: bold;
}

/* ANIMATIONS */

.vertical-wipe {
	animation-duration: var(--animation-length);
	animation-name: verticalWipe;
}

@keyframes verticalWipe {
	0%, 100% {
		/* filter: brightness(0.1); */
		position: absolute;
	}

	50% {
		/* filter: brightness(0); */
		position: absolute;
		margin-top: 50em;
	}

	75% {
		/* filter: brightness(0.1); */
		position: absolute;
	}
}

.freeze-in-place {
	animation-duration: var(--animation-length);
	animation-name: freezeInPlace;
}

@keyframes freezeInPlace {
	0%, 100% {
		margin-top: calc(var(--image-height));
	}
}