
@font-face {
	font-family: 'sketchup';
	src: url('../fonts/sketchup.ttf');
}

@font-face {
	font-family: 'doctor-soos';
	src: url('../fonts/doctor-soos.ttf');
}

@font-face {
	font-family: 'Milliard';
	src: url('../fonts/Rene\ Bieder\ \ Milliard\ ExtraLight.woff');
}

@font-face {
	font-family: 'MilliardBold';
	src: url('../fonts/Rene\ Bieder\ \ Milliard\ Medium.woff');
}

@font-face {
	font-family: 'MilliardExtraBold';
	src: url('../fonts/Rene\ Bieder\ \ Milliard\ ExtraBold.woff');
}

:root {
	--shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.2);
	--background-blue: #105893;
	--about-blue: #082c49;
	--portfolio-blue: #1b3b5b;
}

html {
	background-color: var(--background-blue);
	font-family: 'Milliard';
	color: white;
	height: 100%;
}

body {
	position: absolute;
	inset: 0;
	margin: auto;
	height: 90%;
	width: 95%;
}

/* FOLDER PORTFOLIO */

.folder {
	display: flex;
	height: 80%;
	padding: 3em 2em 1em 2em;
	box-shadow: var(--shadow);

	font-size: 20px;
}

#aboutFolder {
	background-color: var(--about-blue);
}

#portfolioFolder {
	background-color: var(--portfolio-blue);
	display: none;
}

.tab {
	display: inline-block;

	margin-right: 0.5em;
	padding-top: 10px;
	height: 40px;
	width: 150px;
	
	font-family: 'MilliardBold';
	font-size: 1.5rem;
	text-align: center;
}

#tab1 {
	background-color: var(--about-blue);
}

#tab2 {
	background-color: var(--portfolio-blue);
}

.name {
	font-family: MilliardBold;
	font-size: 3rem;
	width: fit-content;
}

.cs {
	font-family: 'MilliardBold';
	font-size: 24px;
	padding: 4px;	
}

a {
	text-decoration: none;
	font-family: 'MilliardBold';
	font-size: 1.5rem;
	padding: 4px;	
}

a:visited {
	color:inherit;
}

.description {
	display: inline-block;
	padding: 1em 2em;
}

.icon {
	height: 50px;
	width: 50px;
	margin: 3em 1em 0 0 ;
	background-color: w;
}

.frame {
	width: 450px;
	height: 450px;
}

.photo {
	height: 400px;
	width: 400px;
	border-radius: 500px;
	border: 3px solid whitesmoke;
	box-shadow: var(--shadow);
}

.skills {
	height: max-content;
	padding: 2.5em 0em;
}

.listHeader {
	font-family: 'MilliardBold';
	font-size: 2rem;
}

/* Portfolio */

.portfolioLink {
	display: flex;
	margin: 0.5em 0em 0em 0.5em;
}

.portfolioLink img {
	height: 36px;
	width: 36px;
}

.portfolioText, .portfolioTextG {
	margin-left: 0.5em;
}

.portfolioTextG::before {
	content: "/ ";
} 

@media  (max-width: 1280px) {
	
	.folder {
		flex-direction: column;
		height: max-content;
	}

	#aboutFolder {
		padding: 0 0 0 2em;
		margin-bottom: 1em;
	}

	#portfolioFolder {
		padding: 2em 0em 2em 1em;
	}
	
	#portfolioFolder ul {
		padding: 0;
	}

	.description {
		padding: 0;	
	}

	.name {
		font-size: 3rem;
	}

	.frame {
		margin-top: 3em;
		width: max-content;
		height: max-content;
	}

	.photo {
		height: 300px;
		width: 300px;
		border-radius: 0;
	}
	
	.skills {
		padding-top: 1em;
	}
	
}