.table {
    --padding: 0.5em;

    text-align: left;
    border-collapse: collapse;
    border-radius: 15px;
    background-color: var(--white-color);
    box-shadow: 0 0 0 4px var(--primary-color), var(--shadow); /* this draws the table border  */ 
    overflow: hidden;

    @media (min-width: 800px) {
        margin: 2em;
    }

    th {
        padding-top: var(--padding);
        padding-left: var(--padding);
    }

    tbody tr:last-of-type th {
        padding-bottom: var(--padding);
    }

    .caption {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1em;
    }

    thead tr th,
    tr:not(:last-of-type) th,
    tr:not(:last-of-type) td {
        border-bottom: 1px solid var(--primary-color);
    }

    .author, .status {
        padding-inline: 1em;
    }

    .status {
        position: relative;
    }

    .status::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0px;
        height: 100%;
        width: 10px;
        background-color: var(--black-color);
    }

    .status[data-status="Read"]::after {
        background-color: #2a5e56;
    }

    .status[data-status="Reading"]::after {
        background-color: #89632a;
    }

    .status[data-status="Unread"]::after {
        background-color: #6e3630;
    }
}